

body {
    text-align: center;

}

#dealer-cards {
    height: 175px;
    width: 125px;
    margin: 1;
}

#player-cards {
    height: 175px;
    width: 125px;
    margin: 1;
}

#hit {
    width: 100px;
    height: 50x;
    font-size: 20px;
}

#stay {
    width: 100px;
    height: 50x;
    font-size: 20px;
}

#bet {
    width: 100px;
    height: 50x;
    font-size: 20px;
}

