body {
    text-align: center;
    background-image: url(https://media.istockphoto.com/id/1218355494/vector/poker-table-background-in-green-color.jpg?s=612x612&w=0&k=20&c=qJ-IauRqbIhaeQ5CXZxwysghJUm1VE5wW0odCiFt4yg=);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game {
    border-style: solid;
    border-color: gold;
    border-radius: 25px;
    width: 750px;
}

#dealer-cards img, #player-cards img {
    height: 175px;
    width: 125px;
    margin: 1;
    box-sizing: border-box;
    display: inline-block;
    margin: 5px 5px 25px 5px;
    cursor: pointer;
    font-size: inherit;
    background-color: #fff;
    border-radius: 0.20em;
    border: 1px solid #c3c3c3;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#hit, #stay, #play-again {
    width: 100px;
    height: 50x;
    font-size: 15px;
    border-width: thick;
    border-color: gold;
    border-radius: 25px;
    color: black
}

#results {
    font-weight: bold;
    color: greenyellow;
}

#chip-amount {
    text-align: right;
}

h1 {
    font-size: 75px;
    margin: 0 auto;
    font-family: 'Lobster', cursive;
    border-bottom-style: solid;
    border-color: gold;
    -webkit-text-stroke: .1px red;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: gold;
}

h3 {
    color: white;
}

#bet-input {
    width: 40px;
    border-width: thick;
    border-color: black;
    border-style: dashed;
}
